baseURL = "https://blog.tyage.net"
languageCode = "en-us"
title = "blog.tyage.net"
theme = "gokarna"

[markup]
  [markup.tableOfContents]
    startLevel = 1
    endLevel = 3
    ordered = false

[menu]
  [[menu.main]]
    identifier = "Posts"
    pre = "<span data-feather='book'></span>"
    url = "/post"
    name = "Posts"
    weight = 1

  [[menu.main]]
    identifier = "rss"
    pre = "<span data-feather='rss'></span>"
    url = "/index.xml"
    name = "RSS"
    weight = 7

  [[menu.main]]
    identifier = "About me"
    pre = "<span data-feather='home'></span>"
    url = "https://tyage.net"
    name = "About me"
    weight = 10

[params]
  avatarURL = "/icon/icon.jpg"
  showPostsOnHomePage = "recent"
  socialIcons = [
    {name = "twitter", rel = "me", url = "https://twitter.com/tyage"},
    {name = "github", rel = "me", url = "https://github.com/tyage"},
    {name = "email", rel = "me", url = "mailto:namatyage@gmail.com"},
    {name = "mastodon", rel = "me", url = "https://fed.brid.gy/web/blog.tyage.net"},
  ]
  togglePreviousAndNextButtons = true
  showBackToTopButton = true
  dateFormat = "2006/01/02"
  customHeadHTML = """
<link rel="webmention" href="https://webmention.io/blog.tyage.net/webmention" />
<link rel="pingback" href="https://webmention.io/blog.tyage.net/xmlrpc" />

<link rel="stylesheet" type="text/css" href="/css/style.css">

<script src="/js/redirect.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-C64TPJYY96"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-C64TPJYY96');
</script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1507795450221855" crossorigin="anonymous"></script>
  """
  customCommentHTML = """
<script src="/js/webmention.min.js" data-max-webmentions="60" async></script>
<div id="webmentions"></div>
"""

[markup.goldmark.renderer]
  unsafe = true
