<script>
const match = location.search.match(/^\?p=(\d+)\/?$/)
if (location.pathname === '/' && match !== null) {
  // redirect to new url if the user accesses with previous url. /?p=123 -> /p123/
  const postId = match[1]
  history.replaceState({ previousUrl: location.href }, '', `/%3fp=${postId}/`)
  location.reload()
} else {
  // if the user is redirected, revert the url to the original one (without redirect)
  if (history.state !== null && history.state.previousUrl) {
      history.replaceState({}, '', history.state.previousUrl)
  }
}
</script>
<style>
.blog-post p {
  line-height: 1.8;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1507795450221855" crossorigin="anonymous"></script>
