<div class="post container h-entry">
    <div class="post-header-section">
        <h1 class="p-name">{{ .Title }}</h1>
        <small role="doc-subtitle">{{ .Description }}</small>
        <p class="post-date">
            {{ dateFormat "2006/01/02 15:04:05" .Date }}{{ if lt .Date .Lastmod }} | Updated {{ dateFormat "2006/01/02 15:04:05" .Lastmod }}{{ end }}
        </p>

        <ul class="post-tags">
        {{ range .Params.tags }}
            <li class="post-tag"><a href="{{ "tags/" | absLangURL }}{{ . | urlize }}">{{ . }}</a></li>
        {{ end }}
        </ul>
    </div>

    <div class="post-content">
        <p class="e-content">
            {{ .Content }}
        </p>
        {{ if .Site.DisqusShortname }}
        <div class="post-comments">
            {{ template "_internal/disqus.html" . }}
        </div>
        {{ end }}
    </div>

    <div>
        <script src="/js/webmention.min.js" async></script>
        <div id="webmentions"></div>
    </div>

    <div class="prev-next">
        {{ if eq .Site.Params.TogglePreviousAndNextButtons "true" }}
            {{ if or .PrevInSection .NextInSection }}
                {{ partial "prev-next.html" . }}
            {{ end }}
        {{ end }}
    </div>

    <div style="display: none;">
        <a class="u-bridgy-fed" href="https://fed.brid.gy/"></a>
        <p class="dt-published">{{ dateFormat "2006-01-02T15:04:05-07:00" .Date }}</p>
    </div>
</div>
